<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaAI Playground</title>
    <link rel="icon" type="image/webp" href="/static/cinemaAI_logo_rounded.webp">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <header>
                <img src="/static/cinemaAI_logo.webp" alt="CinemaAI Logo" class="logo">
                <h1>CinemaAI Playground</h1>
            </header>
            <section>
                <h2>System Instructions</h2>
                <textarea id="system-prompt" placeholder="Enter your system prompt here..." aria-label="System Instructions"></textarea>
            </section>
            <section>
                <h2>Model Configuration</h2>
                <label for="model-selection">Select Model:</label>
                <select id="model-selection" aria-label="Model Configuration">
                    <option value="gpt-4o">gpt-4o</option>
                    <!-- Add more models as needed -->
                </select>
            </section>
            <section>
                <h2>Functions</h2>
                <div id="functions-editor" class="functions-editor"></div>
                <button id="add-function">Add Function</button>
            </section>
            <section>
                <h2>context_id</h2>
                <textarea id="context_id" aria-label="context_id"></textarea>
            </section>
        </aside>
        <main class="chat-area">
            <div class="chat-window" id="chat-messages"></div>
            <div id="loader" class="loader">
                <div class="ls-particles ls-part-1"></div>
                <div class="ls-particles ls-part-2"></div>
                <div class="ls-particles ls-part-3"></div>
                <div class="ls-particles ls-part-4"></div>
                <div class="ls-particles ls-part-5"></div>
                <div class="lightsaber ls-left ls-green"></div>
                <div class="lightsaber ls-right ls-red"></div>
            </div>
            <div class="chat-input">
                <input type="text" id="chat-message" placeholder="Type your message here..." aria-label="Chat message input">
                <button onclick="sendMessage()">Send</button>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>